build/
cmake-build-debug/
tags
cscope*
*.core
*.gcda
*.gcno

# don't commit source for subprojects
subprojects/googletest
subprojects/libevent
subprojects/lmdb
subprojects/vcblockchain
subprojects/vccert
subprojects/vccrypt
subprojects/vcdb
subprojects/vcmodel
subprojects/vpr

